body {
  font-size: 16px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
}
/*Reseteo global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: black;
}

html {
  /* reset de valor de em y rem, por defecto es 16px y con el font-size: 62.5% lo estamos cambiando a que sea 10px */
  /* 62.5% equivale a 10px */
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

body {
  font-size: 16px;
  color: #333333;
  background-color: rgba(238, 239, 241, 0.9411764706);
}

.titulos {
  color: rgba(50, 50, 40, 0.872);
}

Header {
  background-color: #000107;
  margin: 0px;
}

.Header2 {
  background-color: #b30505;
}

.title1 {
  font-family: "encodesans";
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.imagnav {
  width: 100px;
  height: 100px;
}

.enlace1 {
  color: white;
  text-decoration: underline;
}

.enlace1 :hover {
  color: #b30505;
}

.enlace1 {
  color: white;
}

.navbar {
  background-color: #b30505;
  display: flex;
  font-size: 33px;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.navbar :hover {
  color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 3rem;
  color: white;
}

.titulo1 {
  background-color: #b30505;
  display: flex;
  margin-top: 50px;
  font-size: 32px;
  justify-content: center;
  color: white;
}

body {
  background-image: url(../..//images/Temporada\ 3\ Abril\ 2023.png);
}

.img-main {
  width: 550px;
  height: 550px;
}

.tituloinfame {
  transition: transform 0.6s ease;
}

.tituloinfame:hover {
  transform: scale(2.3);
}

.tituloinfame2 {
  transition: transform 0.6s ease;
}

.tituloinfame2:hover {
  transform: scale(2.3);
}

.texto1 {
  background-color: black;
  margin-top: 50px;
  font-weight: bolder;
  font-family: "mayorestextos";
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  font-size: 28px;
  color: white;
}

.tarjetas-episodios2 {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding-top: 20px;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.texto4 {
  background-color: black;
  font-variant: small-caps;
  display: flex;
  font-size: 23px;
  justify-content: center;
  color: white;
}

.texto5 {
  background-color: black;
  font-style: inherit;
  display: flex;
  font-size: 23px;
  justify-content: center;
  color: white;
}

.tarjetas-episodios2 {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .tarjetas-episodios2 {
    flex-direction: column;
    flex: none;
    padding: 0;
  }
}
.gifinfames {
  height: 650px;
  width: 450px;
}

.asesinoclip {
  margin-bottom: 20px;
}

.apodoinfame {
  display: flex;
  flex-wrap: wrap;
  color: #b30505;
  background-color: black;
  font-weight: bolder;
  font-size: 25px;
}

.textoinfame {
  background-color: black;
  font-weight: bolder;
  padding-bottom: 20px;
  padding-left: 35px;
  font-size: 28px;
  color: white;
}

.tituloinfame {
  background-color: black;
  font-weight: bolder;
  padding-left: 25px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #b30505;
}

.container-infame {
  padding: 20px;
  display: flex;
  align-items: center;
}

.group-infame {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.tituloinfame2 {
  background-color: black;
  font-weight: bolder;
  padding-left: 25px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: #b30505;
}

.container-infame2 {
  padding: 20px;
  display: flex;
  align-items: center;
}

.group-infame2 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.container-infame {
  display: flex;
  align-items: center;
}
.container-infame .textoinfame {
  flex: 1;
  padding: 20px;
}
.container-infame .gifinfames {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .container-infame {
    flex-direction: column-reverse;
  }
  .container-infame .textoinfame,
  .container-infame .gifinfames {
    flex: none;
    padding: 0;
  }
}
.container-infame2 {
  display: flex;
  align-items: center;
}
.container-infame2 .textoinfame {
  flex: 1;
  padding: 20px;
}
.container-infame2 .gifinfames {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .container-infame2 {
    flex-direction: column;
  }
  .container-infame2 .textoinfame,
  .container-infame2 .gifinfames {
    flex: none;
    padding: 0;
  }
}
.entrevistafilo {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.filoimg {
  width: 850px;
}

.texto2 {
  background-color: black;
  margin-top: 150px;
  font-weight: bolder;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 28px;
  justify-content: center;
  color: white;
}

.filoicon {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 75px;
  height: 75px;
}

.entrevistalink {
  display: flex;
  gap: 76px;
}

.texto3 {
  background-color: black;
  margin-top: 50px;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 35px;
  font-size: 20px;
  justify-content: space-between;
  color: white;
}

.entrevistafilo {
  display: flex;
  align-items: center;
}
.entrevistafilo .texto2 {
  flex: 1;
  padding: 20px;
}
.entrevistafilo .filofoto {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .entrevistafilo {
    flex-direction: column;
  }
  .entrevistafilo .texto2,
  .entrevistafilo .filofoto {
    flex: none;
    padding: 0;
  }
}
.textocontacto {
  background-color: white;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  color: black;
}

.cajaformulario {
  background-color: #b30505;
  display: flex;
  margin-top: 20px;
  font-size: 28px;
  justify-content: center;
  color: white;
}/*# sourceMappingURL=style.css.map */