  Header { 
    background-color: #000107;
    margin: 0px; }
    
  .Header2 {
    background-color: #b30505;
  } 

  .title1 {
    font-family: "encodesans";
    color: white;
    font-size: 50px;
    display: flex;
    justify-content:center;}
    
  .imagnav { 
    width: 100px; height: 100px;}
    
  .enlace1 {
    color: white;
    text-decoration: underline;
  }
  .enlace1 :hover{
    color: #b30505 ;} 
  .enlace1 {
    color: white;}

  .navbar {
    background-color: #b30505;
    display: flex;
    font-size: 33px;
    justify-content: space-around;
    align-items: center;
    color: white;}
    .navbar :hover {color:black;}
