main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 3rem;
    color: white;}
    

.titulo1 {
    background-color:#b30505;
    display: flex;
    margin-top: 50px;
    font-size: 30px;
    justify-content: center;
    color: white;}

body { background-image: url(../..//images/Temporada\ 3\ Abril\ 2023.png); }

.img-main { width: 550px; height: 550px;}