main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-bottom: 3rem;
    color: white;}
    

.titulo1 {
    @include titulomasusado; }

body { background-image: url(../..//images/Temporada\ 3\ Abril\ 2023.png);


        @media (max-width: $small-screen) {
            font-size: 14px;
            // Estilos específicos para pantallas pequeñas
        }
    
        @media (min-width: $medium-screen) and (max-width: $large-screen) {
            // Estilos específicos para pantallas medianas
        }
    
        @media (min-width: $large-screen) and (max-width: $extra-large-screen) {
            // Estilos específicos para pantallas grandes
        }
    
        @media (min-width: $extra-large-screen) {
            // Estilos específicos para pantallas extra grandes
        }
    }

.img-main { width: 550px; height: 550px;}