/*Reseteo global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: black
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500;1,700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    /* reset de valor de em y rem, por defecto es 16px y con el font-size: 62.5% lo estamos cambiando a que sea 10px */
    /* 62.5% equivale a 10px */
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

body {
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    color: #333333;
    background-color: #eeeff1f0; }
    
.titulos {
        color: rgba(50, 50, 40, 0.872); }