.entrevistafilo 
{
 display: flex;
 justify-content: space-between;
 align-content: center;
}

.filoimg {
width: 850px; 
}


.texto2 {
    background-color: black;
    margin-top: 150px;
    font-weight: bolder;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    justify-content: center;
    color: white;}

    .filoicon {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 75px; height: 75px;}

.entrevistalink {
    display: flex;
    gap: 76px;

}
.texto3 {
    background-color: black;
    margin-top: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 35px;
    font-size: 20px;
    justify-content: space-between;
    color: white;}

    .entrevistafilo  {
        display: flex;
        align-items: center;
    
        .texto2 {
            flex: 1;
            padding: 20px;
        }
    
        .filofoto {
            flex: 1;
            padding: 20px;
        }
    }
    
    @media (max-width: 768px) {
        .entrevistafilo {
            flex-direction: column;
    
            .texto2,
            .filofoto {
                flex: none;
                padding: 0;
            }
        }
    }