#reserva{
    background-color:rgba(50, 50, 40, 0.872);
    @include flex;
    .row{
        margin-top: 2rem;
        margin-bottom: 2rem;
        .col-lg-3{
            color: #fff;
            font-size: 20px;
            margin-top: 2rem;
        }
        .col-lg-12{
            margin-top: 2rem;
            margin-bottom: 2rem;
            gap: 20px;
        }
        .col-lg-1{
            color: rgba(50, 50, 40, 0.872);
        }
    }
}


label{
    color: rgba(50, 50, 40, 0.872);
}

.section2-reservas{
    .carrusel-tit {
        color: #fff;
        font-size: 28px;
        font-weight: bold; }
    .carrusel-text {
        color: #fff; }
}