#section1{
    .cruce{
        font-weight: bold;
        color: rgba(132, 132, 132, 0.872);
    }
}
#galeria {
    @include flex;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 3rem;
    .art-galeria {
        display: flex;
        flex: 25%;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        align-items: center;
        .art__img {
            margin-top: 5px;
            width: 100%;
        }
    }
}

    @media (max-width: 800px) {
        .art-galeria {
        flex: 50%;
    }
    }
    @media (max-width: 600px) {
    .art-galeria {
        flex: 100%;
    }
    }